ion-toolbar{
  background-color: var(--ion-color-custom);
}

.btn{
  background-color: var(--ion-color-custom-shade);
  color: var(--ion-color-custom-contrast);
  padding: 10px 15px 10px 15px;
  border-radius: 16px;
  font-size: 15px;
  margin-top: 10px;
}

#container{
  text-align: center;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.textMainColor{
  color: var(--ion-color-custom);
}
