<ion-header>
  <ion-toolbar color="custom">
    <ion-title>customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div id="container"> -->
  <div>
    <ion-list>
      <ion-list-header>
        Título de la lista
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="end">
          <img src="https://i.pravatar.cc/150?img=42" alt="">
        </ion-avatar>
        <ion-label>
          <h2 class="textMainColor">Titulo del item</h2>
          <h3>Subtitulo</h3>
          <p>Contenido</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/150?img=43" alt="">
        </ion-avatar>
        <ion-avatar slot="end">
          <ion-icon name="search"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2 class="textMainColor">Titulo del item</h2>
          <h3>Subtitulo</h3>
          <p>Contenido</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://i.pravatar.cc/150?img=45" alt="">
        </ion-avatar>
        <ion-label>
          <h2>Titulo del item</h2>
          <h3>Subtitulo</h3>
          <p>Contenido</p>
        </ion-label>
      </ion-item>

    </ion-list>

    <button ion-button (click)="goToHome()" class="btn">Ir al Inicio</button>
  </div>
</ion-content>
