ion-toolbar{
  background-color: var(--ion-color-custom);
}

ion-card{
  border-radius: 15px;
}

img{
  height: 250px;
  width: 750px;
}

.card-title{
  text-align: center;
  padding: 15px;
  font-size: 18px;
  color: var(--ion-color-custom-tint);
  font-weight: bold;
}
