<ion-header>
  <ion-toolbar color="custom">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">

    <ion-grid>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="6">
          <div class="div-contenido">
            Texto 1
          </div>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="6">
          <div class="div-contenido">
            Texto 2
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="6">
          <div class="div-contenido">
            Texto 3
          </div>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="6">
          <div class="div-contenido">
            Texto 4
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <button class="btn" ion-button [routerLink]="['/customers']">Ir a Clientes</button>
  </div>
</ion-content>
